
# PyLint source code analyzer
pylint

# Falcon REST Framework
cython
falcon

# SQLAlchemy Python SQL Toolkit
SQLAlchemy

# GEOAlchemy 2: Geo SQLAlchemy extension
GeoAlchemy2

# JSON
simplejson

# Development Web Server
wsgiref

# Request package (download osm data via http)
requests
